<tr>
  <td><%= yeast.name %></td>
  <td><%= (0.75 * @recipe.fermenter_volume.to_f * @recipe.estimated_original_gravity.to.plato.to_f).to_i %> B</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
